body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

:root{
  --primary-color:#ebebeb;
  --secondary-color:#000;
  --background-color:#f0f8ff;
  --footer-bg:rgba(163, 251, 233, 0.2);
  --text-color:#000;
  --submenu-color:#f0f8ff
}
.toggleTheme{
  --primary-color:#111;
  --secondary-color:#ebebeb;
  --background-color:#21212121;
  --footer-bg:#000000;
  --text-color:#f0f8ff;
  --submenu-color:#000;
}
body{
  background-color: var(--primary-color);
  color: var(--text-color);
}


